@charset "UTF-8";
@import "nav.css";
@import "initialization.css";
.content{
	position: absolute;
	width: 800px;
	margin:0 auto;
	margin-top: 100px;
	left: 50%;
	top: 50%;
	margin-top: -202px;
	margin-left: -380px;
}
.leftsidebar img{
	width: 100%;
}
.leftsidebar{
	width: 400px;
	float: left;
	/*padding-left: 100px;*/
	padding-right: 100px;
}
.rightsidebar{
	line-height: 20px;
	color:rgba(68,68,68,0.9);
	margin-left: 150px;
	line-height: 41px;
}
.rightsidebar span{
	font-size: 1.6em;
}
.leftsidebar img:hover{
	border-radius: 15px;
}