@charset "UTF-8";
@import "nav.css";
@import "initialization.css";
.title{
	color:rgba(68,68,68,0.9);
	font-size: 0.9em;
}
.friends{
	min-width: 800px;
	margin:0 auto;
	margin-top:200px;
	
}
.friends h3,p{
	color:rgba(68,68,68,0.9);
	font-weight: normal;
	text-align: center;
}
.friends_box img{
	width: auto;
	height: 100px;
	float: left;
	display: block;
	/*transform:scale(0.7);*/
	transition:all .2s ease-in-out;
}
.friends_box{
	width: 240px;
	height: 100px;
	
	background-color: rgba(255,255,255,1);
	box-shadow: 0px 3px 10px 	rgba(0,0,0,0.08);
	position: relative;
	display: inline-block;
	margin:30px 40px 0px 40px;
	vertical-align: top;
	transition:all .2s ease-in-out;
}
.friends_box h3{
	font-size: 1.3em;
	line-height: 100px;
	transition:all .2s ease-in-out;
}
.friends_box_invisible{
	margin-top: 10px;
	/*display: none;*/
	opacity: 0;
	transition:all 500ms ease;
	transition:opacity .1s ease;
}
.friends_box_invisible p{
	width: 140px;
	float: right;
}
.sidebar{
	/*position: relative;
	right: 0px;
	top: -243px;*/
	display: none;
	transition:all 1.2s ease;
}
sidebar ul{
	list-style-type: none;
}
sidebar li{
	margin:20px 0px 20px 0px;
	width: 150px;
	height: 45px;
	background-color: blue;
}
sidebar a{
	padding: 2px 20px 2px 20px;
}

/*伪类HOVER区域开始*/
.friends_box:hover{
	/*height: 300px;*/
	/*font-size: 0.9em;*/
}
.friends_box:hover.friends_box img{
	transform:scale(1);
	filter:blur(2px);
	-webkit-filter:blur(2px);
}
.friends_box:hover.friends_box h3{
	/*padding:15px;*/
	margin-top: 0px;
	line-height: 40px;
}
.friends_box:hover .friends_box_invisible{
	display: block;
	opacity: 1;
	transition:opacity 1s ease 0.1s;
}
friends_box:hover sidebar{
	right: -202px;
	top: -315px; 
	/*display: block;*/
}
/*伪类HOVER区域结束*/

.motto{
	position: absolute;
	bottom: 20px;
	width: 100%;
}
.motto p{
	text-align: center;
}
