@charset "UTF-8";
@import "nav.css";
@import "initialization.css";
.avatar{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -105.5px;
	margin-left: -105.5px;
}
.avatar img{
	width: 211px;
	height: 211px;
	border-radius: 1024px;
	transition:all .4s ease-in-out;
}
.avatar img:hover{
	transform:scale(0.95);
}
